<div class="px-lg-5 px-2 w-100">
  <h1 class="text-primary mb-4">Réinitialisation du mot de passe</h1>
  <p class="text-secondary mb-5">
    Entrez l'adresse e-mail ou le numéro de téléphone portable de votre compte et nous vous enverrons un lien de
    réinitialisation de mot de passe.
  </p>
  <form class="mb-4" [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPassword()">
    <label for="username" class="form-label">Adresse électronique ou numéro de téléphone portable</label>
    <div class="input-group mb-3">
      <i class="input-group-text ri ri-mail-line" aria-hidden="true"></i>
      <input id="username" type="text" class="form-control form-control-lg border-start-0" formControlName="username" />
    </div>
    <button type="submit" class="btn btn-primary mt-5 p-3 w-100">Envoyer un lien de réinitialisation</button>
  </form>
  <p class="mt-5 text-center">
    <a class="text-decoration-none" routerLink="/login">Retour au formulaire de connexion</a>
  </p>
</div>
