<div class="px-lg-5 px-2 w-100">
  <h1 class="text-primary mb-4">Réinitialisation du mot de passe</h1>
  <p class="text-secondary mb-5">
    Entrez l'adresse e-mail ou le numéro de téléphone portable de votre compte et nous vous enverrons un lien de
    réinitialisation de mot de passe.
  </p>
  <form class="mb-4" [formGroup]="forgotPasswordForm" (ngSubmit)="onForgotPassword()">
    <app-username-field
      [usernameControl]="username"
      [touched]="username.touched"
      [errors]="username.errors"></app-username-field>
    <app-submit [isLoading]="(isLoading$ | async) ?? false">
      Envoyer un lien de réinitialisation
      <ng-container slot="loading-text">Envoi en cours...</ng-container>
    </app-submit>
  </form>
  <p class="mt-5 text-center">
    <a class="text-decoration-none" routerLink="/login" [queryParams]="username.value ? { username: username.value } : null">
      Retour au formulaire de connexion
    </a>
  </p>
</div>
