<!--<div class="h-100 d-flex flex-column">-->
<!--  <div #container class="list-group list-group-flush flex-grow-1 overflow-auto">-->
<!--    <a-->
<!--      #item-->
<!--      [attr.id]="lieuMediationNumerique.id"-->
<!--      class="list-group-item list-group-item-action p-4"-->
<!--      [class.list-group-item-hover]="hoverId === lieuMediationNumerique.id"-->
<!--      (mouseover)="enableHover.emit(lieuMediationNumerique.id)"-->
<!--      (mouseout)="disableHover.emit()"-->
<!--      routerLinkActive="bg-light"-->
<!--      *ngFor="let lieuMediationNumerique of lieuxMediationNumerique; trackBy: trackByLieuId"-->
<!--      queryParamsHandling="preserve"-->
<!--      [routerLink]="[lieuMediationNumerique.id, 'details']"-->
<!--      [relativeTo]="route.parent"-->
<!--      (click)="selectLieu.emit(lieuMediationNumerique)">-->
<!--      <app-mediation-numerique-list-item [lieuMediationNumerique]="lieuMediationNumerique"></app-mediation-numerique-list-item>-->
<!--    </a>-->
<!--  </div>-->
<!--</div>-->

<ul>
  <ng-container *ngFor="let fare of fares">
    <li>{{ fare.time }} - {{ fare.status }} - {{ fare.duration }} minutes - {{ fare.duration }} mètres</li>
  </ng-container>
</ul>
